/* P reset   (resets) */
@import 'preset.css';

/* S etup */
@import 'setup.css';

/* S setings */
@import 'settings.css';

/* S tructure */
@import 'structure.css';

/* T ypography */
@import 'typography.css';

/* C omponents */
@import 'components.css';

/* S tuff (modules) */
/*@import 'modules.css';*/

/* S ections and more stuff */

/* then other contextual styles */

body {
	background-color: var(--paper);
	color: var(--ink);
	padding-block: 15vh;
}

ol {
	list-style: number;
	padding-left: 30px;
}
