body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/* be at least a full viewport height */
	/* consider 100svh and 100dvh too */
}

main.outlet {
	flex-grow: 1;
	/* fill up available space which happens push the footer down to the bottom */
}

.inner-column {
	display: block;
	/*	width: 98%; maybe? */
	max-width: 1000px; /* could be a variable in settings */
	margin-inline: auto; /* horizontally center this by default */
	padding-inline: 10px;
	container-type: inline-size;
}

.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}

.app {
	display: flex;
	flex-direction: column;
}

@media (min-width: 490px) {
	.inner-column {
		padding-inline: 20px;
	}
}
